<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leet.graduatedesign">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="Application.MyApplication">
        <activity android:name=".LoginActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name=".RegisterActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name=".MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".ScanActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name=".CertainActivity"/>
        <activity android:name=".AddActivity" />
        <activity android:name="Update.HeightUpdateActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name="Update.WeightUpdateActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name="Update.LeftEyeUpdateActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name="Update.RightEyeUpdateActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name="Update.BloodTypeUpdateActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name="Update.BloodPreUpdateActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name="Update.AgeUpdateActivity"  android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name=".PictureActivity"  android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name=".WelcomeActivity"  android:theme="@style/JK.SwipeBack.Transparent.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>
        <activity android:name=".BpByDayActivity" />
        <activity android:name=".BpByWeekActivity" />
        <activity android:name=".BpByMonthActivity" />
        <activity android:name=".BaseInfoActivity" android:theme="@style/JK.SwipeBack.Transparent.Theme"/>

    </application>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>